.ftext{

    color: #535353;

    font-size: 15px;
  
    font-weight: 600;
    margin-top: -5px;
    font-family: 'Muli';
    letter-spacing: 0.5px;
}


.ftextname{
    font-size: 17px;
    color: #212121;
    font-weight: 600;
    border-bottom: 4px solid #a7a7a77a;
    font-family: 'Noto Sans KR', sans-serif;
    letter-spacing: 2px;
}

.foemHeader{
    margin-right: 260px;

    @media only screen and (max-width: 600px) {
        position: relative;
        left: -26%;
        margin-right: 100px;
        color:rgb(255, 255, 255);
        height: 80px;
      }
}

.countdiv{
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background-color: rgb(255 111 111 / 89%);
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    top: -26px;
    left: 15px;
}

.vcountdiv{
    width: 33px;
    height: 33px;
    border-radius: 50%;
    background-color: rgb(255 111 111 / 89%);
    justify-content: center;
    align-items: center;
    display: flex;
    position: absolute;
    top: -26px;
    left: 73px;
}
/*old css above*/

